
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreToDoor</title>
    <link rel="stylesheet" href="~/lib/Bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />
    <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--google font-->
    <link href="https://fonts.googleapis.com/css2?family=Licorice&display=swap" rel="stylesheet">
    <!--  <link rel="stylesheet" href="~/Storetodoor.styles.css" asp-append-version="true" /> -->
</head>
<body>
    <!--  <header>
          <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
              <div class="container-fluid">
                  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StoreToDoor</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                      <ul class="navbar-nav flex-grow-1">
                          <li class="nav-item">
                              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                          </li>
                      </ul>
                      <partial name="_LoginPartial" />
                  </div>
              </div>
          </nav>
      </header>


      <footer class="border-top footer text-muted">
          <div class="container">
              &copy; 2022 - StoreToDoor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
          </div>
      </footer> -->
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
     @if (ViewBag.HideFooter == null)
    {

        <footer class="py-5 bg-dark text-white">
            <div class="container">
            <ul class="nav justify-content-center  pb-1 mb-1">
                <li class="nav-item"><a asp-controller="home" asp-action="About" class="nav-link px-3 text-muted font2 footer-list">About</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-3 text-muted font2 footer-list">FAQ</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-3 text-muted font2 footer-list">Contact Us</a></li>
            </ul>
            <div class="text-center">
                <a href=""><img src="~/img/icon7.png" class="img-fluid px-1" style="height: 1.4rem; width: 1.7rem;" alt=""></a>
                <a href=""><img src="~/img/icon4.png" class="img-fluid px-1" style="height: 1.6rem; width: 1.9rem;" alt=""></a>
                <a href=""><img src="~/img/icon3.png" class="img-fluid px-1" style="height: 1.6rem; width: 1.9rem;" alt=""></a>
            </div>
            <p class="text-center text-muted pt-1 mt-2 footer-list">Terms & Conditions</p>
        </div>
    </footer> 
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/Bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--  <script src="~/js/site.js" asp-append-version="true"></script>-->
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
