@{
  ViewData["Title"] = "Admin";
}
@{
  ViewBag.HideFooter = true;
}
<nav class="navbar navbar-light bg-light shadow">
  <div class="container">
    <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
      aria-controls="offcanvasExample">
      <img src="~/img/menu.png" style="height: 1.4rem; width: 1.2rem;" alt="">
    </a>
    <span class="font2 fs-4 admin-heading">Admin Dashboard</span>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none text-dark"> <span
            class="font1 fw-bold fs-1 ms-4"> <img src="~/img/logo.png" style="width: 3rem; height: 3rem;" alt=""> Store
            To Door</span> </a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-grid gap-2">
          @* <a href="" class="btn border-0 btn-outline-dark mx-2 px-5 font2 ">Notifications</a> *@
          <a asp-controller="Home" asp-action="UsersList" class="btn border-0 btn-outline-dark mx-2 px-5 font2 ">User
            List</a>
          <a asp-controller="Home" asp-action="ArtistsList"
            class="btn border-0 btn-outline-dark  px-5 mx-2 font2 ">Artist List</a>
          <a asp-controller="Home" asp-action="ArtRequestsList"
            class="btn border-0 btn-outline-dark  px-5 mx-2 font2 ">Art
            Requests</a>
          
        </div>
      </div>
    </div>
   
  </div>
</nav>
<section class="sec4 py-5" id="artist-profile">
  <div class="container pt-3 d-flex flex-column align-items-center justify-content-center">
   <img src="~/img/logo.png" class="admin-logo" alt="">
   <h1 class="font1 fw-bold mt-3">Store To Door</h1>
  </div>
</section>