 @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
@{
    ViewData["Title"] = "Error";
      ViewBag.HideFooter = true;
     
} 
 <section class="container mt-5 pt-3">
        <div class="d-flex align-items-center row my-5" >
            <div class="flex-shrink-0 col-lg-6 col-md-6 col-sm-12 col-12 error-page">
                <img src="~/img/error.png" class="img-fluid"  alt="">
            </div>
            <div class="flex-grow-1  col-lg-6 col-md-6 col-sm-12 col-12 error-page-text">
                <p class="fw-bold font2 fs-1">Oops!</p> 
                <p class="fw-bold font2 fs-3">Something went wrong!</p>
                <a asp-action="Index" class="all-buttons btn btn-outline-warning btn-lg font2 ">Return to Home</a>
            </div>
          </div>
    </section>
