@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using StoreToDoor.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-md-3 ">
    <div class="container-fluid py-0">
        <a class="navbar-brand font1  text-white fs-1 heading" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/logo.png" class="logo-img mb-2" style="width: 3rem; height: 3rem;" alt="">Store To Door
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto  mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link font2 active mx-2 item-1 text-white bottom-yellow" aria-current="page"
                        asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link font2 mx-2 item-2 text-white" asp-controller="home" asp-action="About">ABOUT</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    var loggedInUser = await UserManager.FindByNameAsync(User.Identity.Name);

                    @if (await UserManager.IsInRoleAsync(loggedInUser, UserRoles.User))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link font2  mx-2 item-3 text-white" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                                SHOP
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item drop1 font2" asp-controller="home" asp-action="Shopbymedium">By
                                        Medium</a></li>
                                <li><a class="dropdown-item drop1 font2" asp-controller="home" asp-action="Shopbyartist">By
                                        Artist</a></li>
                            </ul>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link font2  mx-2 item-3 text-white" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                            SHOP
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item drop1 font2" asp-controller="home" asp-action="Shopbymedium">By
                                    Medium</a></li>
                            <li><a class="dropdown-item drop1 font2" asp-controller="home" asp-action="Shopbyartist">By
                                    Artist</a></li>
                        </ul>
                    </li>
                }

                <li class="nav-item dropdown">
                    <a class="nav-link  font2 mx-2 item-4 text-white" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        PROFILE
                    </a>
                    <partial name="_LoginPartial" />
                    <!--  <ul class="dropdown-menu width" aria-labelledby="navbarDropdown">
                        <li class="ms-3 font2 fs-5 pt-2">WELCOME!</li>
                        <li class="ms-3 mb-2">To access account and manage order</li>
                        <form class="d-flex">
                      <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-danger ms-4 me-1 px-3 mb-2">Signup</a>
                        <a asp-area="Identity" asp-page="/Account/login" class="btn btn-outline-danger me-4 ms-1 px-3 mb-2">Login</a>
                          <a class="btn btn-outline-danger ms-4 me-1 px-5 mb-2">Logout</a>
                        </form>
                         <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item drop2" asp-controller="Home" asp-action="Order">Orders</a></li>
                        <li><a class="dropdown-item drop2"  asp-controller="Home" asp-action="Wishlist">Wishlist</a></li>
                        <li><a class="dropdown-item drop2" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                      </ul> -->
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    var loggedInUser = await UserManager.FindByNameAsync(User.Identity.Name);

                    @if (await UserManager.IsInRoleAsync(loggedInUser, UserRoles.User))
                    {
                        <li class="nav-item">
                            <a asp-controller="home" asp-action="Cart" class="nav-link font2 mx-2 item-5 text-white">CART</a>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="home" asp-action="Cart" class="nav-link font2 mx-2 item-5 text-white">CART</a>
                    </li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    @if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
                    {
                        <li class="nav-item">
                            <a asp-controller="home" asp-action="Admin" class="nav-link font2 mx-2 item-6 text-white">ADMIN</a>
                        </li>
                    }

                }
                @if (User.Identity.IsAuthenticated)
                {
                    @if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Artist"))
                    {
                       @* <li class="nav-item">
                            <a asp-controller="home" asp-action="ArtistProfile"
                        class="nav-link font2 mx-2 item-6 text-white">ARTIST</a>
                        </li>*@
                        <li><a class="nav-link font2 mx-2 item-6 text-white" asp-controller="home" asp-action="CustomArtRequest">ART  REQUESTS</a></li>
                    }

                }
            </ul>
            <div class="nav-item search-box rounded-pill bg-dark ms-3">
                <input type="text" class="search-txt float-start fs-6 text-white" placeholder="search here..">
                <a class="nav-link font2 search-btn d-flex justify-content-center align-items-center rounded-circle text-white"
                    href="#"><img style="width:1rem; height:1rem;" src="~/img/search.png"></a>
            </div>
        </div>
    </div>
</nav>
<header id="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item bg" style="background-image: url('/img/bg2.jpg');">
            </div>
            <div class="carousel-item bg active" style="background-image: url('/img/bg3.jpg');">
                <div class="container bg1 position-absolute top-50 start-50">
                    <h1 class="text-dark font1 fw-bold">Shop For <br> The Art You'll Love</h1>
                    <a asp-controller="home" asp-action="Shopbymedium"
                        class="btn btn1 shadow-none all-buttons border-0 btn-dark position-relative btn-lg mx-2 px-5 font2 ">Shop Now</a>
                </div>
            </div>
            <div class="carousel-item bg" style="background-image: url('/img/bg1.jpg');">
                <div class="container bg2  position-absolute top-50 start-50">
                    <h1 class="text-dark font1 fw-bold">Create & Upload</h1>
                    <a asp-area="" asp-controller="Home" asp-action="UploadArtwork"
                        class="btn btn1 shadow-none all-buttons border-0 btn-dark btn-lg position-relative px-5 mx-2  font2 ">Upload Now</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>
<section class="sec1 pt-5" id="about">
    <div class="container">
        <div class="text-center my-5">
            <span class="font1 text-blue fw-bold heading  m-auto border-bottom border-dark border-3">About Us</span>
        </div>
        <div class="row my-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 m-auto text-end p-4">
                <img src="~/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <p class="py-4 px-2 fs-4 font2 lh-base">
                    Welcome to the new world of art and craft. It is an online
                    marketplace that
                    helps people to buy or sell artworks with ease. We register authorized artists and hence caters
                    original
                    artworks like painting,handmade crafts,portraits, home-decor and many more. Explore our website and
                    grab
                    the art you love.
                </p>
                <!--   <a asp-controller="home" asp-action="About"
                   class="border-0 bg-blue text-white btn-lg my-3 mx-2 px-5 py-3 font2 rounded text-decoration-none">
                    More About
                    Us
                </a>-->
            </div>
        </div>
    </div>
</section>
<section class="sec2 pt-5 text-dark bg-light-pink">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-4 col-lg-4 col-12 my-2">
                <img src="~/img/service1.png" class="img-fluid my-2" alt="" style="height: 3rem; width: 3rem;">
                <h4>Wide Community</h4>
                <p class="font2 pb-3 mx-2">We have wide community of artists and deliver art to customers</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-12 my-2">
                <img src="~/img/service3.png" class="img-fluid my-2" alt="" style="height: 3rem; width: 3rem;">
                <h4>Customized art & craft</h4>
                <p class="font2 pb-3 mx-2">
                    Customer can contact the artist for customization of the art according to his/her
                    needs
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-12 my-2">
                <img src="~/img/service2.png" class="img-fluid my-2" alt="" style="height: 3rem; width: 3rem;">
                <h4>Door to Door Service</h4>
                <p class="font2 pb-3 mx-2">Art is shipped from the artist's shop/home and delivered to customer's
                    doorstep</p>
            </div>
        </div>
    </div>
</section>
<section class="sec3 pt-5" id="medium">
    <div class="container">
        <div class="text-center my-5">
            <span class="font1 text-purple fw-bold heading  m-auto border-bottom border-dark border-3">
                Shop By Medium
            </span>
        </div>
        <div class="row text-center font2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <a asp-controller="home" asp-action="Painting"> <img class="img-fluid " src="~/img/painting.jpg"
                        alt=""></a>
                <p class="text-center  py-3 fs-4">Paintings</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <a href=""> <img class="img-fluid" src="~/img/drawing.jpg" alt=""></a>
                <p class="text-center py-3 fs-4">Drawings</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <a href=""><img class="img-fluid" src="~/img/origami.jpg" alt=""> </a>
                <p class="text-center py-3 fs-4">Origami</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <a href=""> <img class="img-fluid" src="~/img/string_art.jpg" alt=""></a>
                <p class="text-center py-3 fs-4">String Art</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <a href=""><img class="img-fluid" src="~/img/sketches.jpg" alt=""></a>
                <p class="text-center py-3 fs-4">Sketches</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <a href=""> <img class="img-fluid" src="~/img/room_decor.jpg" alt=""></a>
                <p class="text-center py-3 fs-4 ">Room Decor</p>
            </div>
        </div>
        <div class="text-center pt-4 pb-5">
            <a asp-controller="home" asp-action="Shopbymedium"
                class="border-0 all-buttons bg-purple text-white btn-lg my-3 mx-2 px-5 py-3 font2 rounded text-decoration-none">
                Explore
                More
            </a>
        </div>
    </div>
</section>
<section class="sec4 pt-5" id="artist-profile">
    <div class="container">
        <div class="text-center my-5">
            <span class="font1 text-pink fw-bold heading border-bottom m-auto border-dark border-3">
                Meet The Artists
            </span>
        </div>
        <div class="row text-center">
            @foreach (var artist in ViewBag.Artists)
            {
                <div class="col-sm-12 col-md-4 col-lg-3 col-12">
                    <div class="card  shadow p-1 mb-5 bg-body">
                        <div class="card-body">
                            @if (artist.ProfileImage == null || artist.ProfileImage == "")
                            {
                                <img src="~/img/new_artist.png" class="rounded-circle border img-fluid img-cover"
                            alt="default Profile" style="height: 150px; width: 150px;">
                            }
                            else
                            {
                                <img src="~/profiles/@(artist.ProfileImage)" class="rounded-circle border img-fluid img-cover"
                            alt="" style="height: 150px; width: 150px;">
                            }
                            <h5 class="card-title mt-2">@artist.FirstName @artist.LastName</h5>
                            <p class="card-text fs-6">
                              @artist.Bio
                            </p>
                        </div>
                        <div class="card-footer py-3 bg-body">
                            <a asp-controller="home" asp-action="Artist1" asp-route-id="@artist.AccountName"
                            class="bg-pink-orange all-buttons text-white px-3 py-2 my-3 mx-2 rounded text-decoration-none font2">
                                <img class="me-1 mb-2" style="width:1rem; height=1rem" src="~/img/user.png"> View profile
                            </a>
                        </div>
                    </div>
                </div>
            }

            <div class="col-sm-12 col-md-4 col-lg-3 col-12">
                <div class="card shadow p-1 mb-5 bg-body">
                    <div class="card-body">
                        <img src="~/img/new_artist.png" class="rounded-circle border img-fluid" alt=""
                            style="height: 150px; width: 150px;">
                        <h5 class="card-title mt-2">Add artist name</h5>
                        <p class="card-text">
                            About artist (Artists can insert information about their work or kind of art they do)
                        </p>
                    </div>
                    <div class="card-footer py-3 bg-body">
                        <a asp-area="Identity" asp-page="/Account/Register"
                            class="bg-pink-orange all-buttons text-white px-3 py-2 my-3 mx-2 rounded text-decoration-none font2">
                            <img class="me-1 mb-2" style="width:1rem; height=1rem" src="~/img/user.png"> Signup
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center pb-5 mb-5">
                <a asp-controller="home" asp-action="Shopbyartist"
                    class="btn btn2 shadow-none all-buttons border-0 btn-dark btn-lg mx-2 px-5 font2 ">Find artist</a>
            </div>
        </div>
    </div>
</section>
<script>
    var nav = document.querySelector('nav');
    window.addEventListener('scroll', function () {
        if (window.pageYOffset > 100) {
            nav.classList.add('bg-dark', 'shadow');
        } else {
            nav.classList.remove('bg-dark', 'shadow');
        }
    })
</script>
