@{
    ViewData["Title"] = "Upload Artwork";
}
@{ 
    ViewBag.HideFooter = true;
}
 <section class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 login-section">
                    <img src="~/img/painting1profile.jpg" class="img-fluid" alt="" style="height:100vh;">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 pt-5">
                    <div class="container pt-4 text-center">
                        <a asp-controller="home" asp-action="index" class="navbar-brand font1 text-dark fw-bold fs-1 heading"><img src="~/img/logo.png"
                                class="me-3 mb-2" style="width: 3rem; height: 3rem;" alt="">Upload Artwork</a>
                    </div>
                    <div class="container d-flex justify-content-center" >
                        <div class="row  pt-2">
                            <form action="">
                                <div>
                                    <label for="name" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="row py-2">
                                    <div>
                                        <label for="formFile" class="form-label"></label>
                                        <input class="form-control" type="file" id="formFile">
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div>
                                        <label for="inputText" class="form-label">Size</label>
                                        <input type="text" class="form-control" id="inputText">
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div>
                                        <label for="inputText" class="form-label">Category</label>
                                        <input type="text" class="form-control" id="inputText">
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div>
                                        <label for="inputNumber" class="form-label">Price</label>
                                        <input type="number" class="form-control" id="inputNumber">
                                    </div>
                                </div>
                                <div class="d-grid gap-2 col-sm-8 ms-auto me-auto pt-3">
                                    <a href="" class="btn btn-primary rounded-pill shadow-none">Upload</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
             </div>
            </section>
