@page
@model StoreToDoor.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}
@{
    ViewBag.HideFooter = true;
}

<h2>Access Denied!</h2>
<p>Damn, looks like you're not important enough. Sorry.</p>